#nav-container {
  width: 100%;
  height: 22%;
  max-height: 200px;
  min-height: 165px;
  border: 3px solid #c4c4c4;
  border-radius: 4px 4px 0px 0px; 
  background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#nav-logo {
  background: url('/cig-logo.png');
  background-size: 135px;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 140px;
  min-width: 80px;
  margin: auto 10px auto 30px;
}

#nav-text {
  width: 60%
}

#nav-title {
  margin: 2% 3% 1%;
  color: #757575;
  font-size: 24px;
  font-weight: bold;
  width: 95%;
}

#nav-subtitle-map {
  color: #354374;
  margin: 20px 0px 0px 4%;
  width: 95%;
  font-size: 14pt;
  font-weight: bolder;
  line-height: 28px;
}

#nav-subtitle-container {
  margin-left: 4%;
  font-weight: bolder;
  line-height: 22px;
  max-width: 430px;
}

#nav-subtitle-base {
  color: #757575;
  display: inline-block;
  font-size: 10pt;
}

#nav-subtitle-dynamic {
  color:#354374;
  display: inline-block;
  margin-left: 10px;
  font-size: 11pt;
  overflow-wrap: normal;
}

@media only screen and (max-width: 700px) {
  #nav-text {
    width: 50%
  }
}