#nav-container {
  width: 100%;
  height: 25%;
  border: 3px solid #c4c4c4;
  border-radius: 4px 4px 0px 0px; 
  background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
}

#nav-text {
  width: 70%
}

#nav-title {
  margin: 2% 5% 1%;
  color: #757575;
  font-size: 24px;
  font-weight: bold;
  width: 70%;
}

#nav-subtitle-map {
  color: #0B76B7;
  margin: 20px 0px 0px 7%;
  font-size: 14pt;
  font-weight: bolder;
  line-height: 28px;
  width: 500px;
}

#nav-subtitle-container {
  margin-left: 7%;
  font-weight: bolder;
  line-height: 22px;
  width: 460px;

}

#nav-subtitle-base {
  color: #757575;
  display: inline-block;
  font-size: 10pt;
}

#nav-subtitle-dynamic {
  color:#0B76B7;
  display: inline-block;
  margin-left: 10px;
  font-size: 11pt;
}

