#fig-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
  height: 95%;
  padding: 10px;
}

#viz-fig {
  width: 98%;
  margin-top: 5%;
}

#chart-info {
  margin: 2px 0% 0px 0px;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  color: rgb(118, 140, 159);
  align-self: flex-end;
}

#btn-row {
  margin: 2% 5% 0% 0%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 320px;
} 

#fig-btn {
  color: #354374;
  font-weight: bold;
  background-color: #ffffff;
  border: 3px solid #354374;
  border-radius: 3px;
  height: 40px;
}

#fig-btn:focus {
  background-color: rgb(209, 214, 218);
}
#fig-btn:hover {
  background-color: rgb(209, 214, 218);
}

#data-btn {
  color: #354374;
  font-weight: bold;
  background-color: #ffffff;
  border: 3px solid #354374;
  border-radius: 3px;
  height: 40px;
  margin-left: 20px;
  padding: auto !important;
}

#data-btn:focus {
  background-color: rgb(209, 214, 218);
}
#data-btn:hover {
  background-color: rgb(209, 214, 218);
}

@media only screen and (min-width: 900px) {
  #fig-container {
    max-height: 600px;
    align-self: flex-start
  }
  
  #viz-fig {
    width: 85%;
  }

  #chart-info {
    margin: 5px 9% 0px 0px;
  }

  #btn-row {
    margin: 3% 8% 0% 0%;
  }
}

@media only screen and (max-height: 800px) {
  #fig-container {
    max-height: 600px;
    align-self: flex-start
  }
  
  #viz-fig {
    width: 85%;
    height: 400px;
  }

  #chart-info {
    margin: 5px 9% 0px 0px;
  }

  #btn-row {
    margin: 8px 8% 0% 0%;
  }
}