#fig-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 65%;
  height: 100%;
  padding: 10px;
}


#viz-fig {
  display: flex;
  flex-direction: column; 
  width: 9%;
  height: 90%;
  margin-top: 5%
}

#btn-row {
  margin: 2% 50px 3% 0px;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 300px;
} 

#fig-btn {
  color: #0B76B7;
  font-weight: bold;
  background-color: #ffffff;
  border: 3px solid #0B76B7;
  border-radius: 3px;
  height: 30px;
}

#data-btn {
  color: #0B76B7;
  font-weight: bold;
  background-color: #ffffff;
  border: 3px solid #0B76B7;
  border-radius: 3px;
  height: 30px;
}